%h1 Access To Building
%div.left.margined
  People who have access to the building
  %br
  - if @all_access_users.present?
    -@all_access_users.each do |user|
      =user.first_name
  -else
    %b No users set 
%div.left.margined
  All people who have signed in
  %br
  - if @users.present?
    -@users.each do |user|
      =user.first_name
  -else
    %b No users set 
%div.left.margined
  Give anyone access to building
  %br
  Give all access:
  =check_box_tag :all_access
