%h3 Welcome to Greeter
%div
  Please login in the enter building
  %ul
    =form_tag('/users/login') do
      %li
        First Name:
        =text_field_tag :first_name
      %li
        Last Name:
        =text_field_tag :last_name
      %li
        =submit_tag 'login'

